extends includes/layout

block content
    include includes/header-sm
    h1 Stretnutie/turnaj
    h2 #{event.name}
    div(class="panel")
        h3 Dátum/čas začiatku
            = " "
            if event.startDate
                span= event.startDate.toLocaleDateString()
            else
                span ešte nebol určený
        h4
            if event.address
                if event.address.addrLine1
                    =", " + event.address.addrLine1
                if event.address.addrLine2
                    =", "+event.address.addrLine2
                if event.address.addrLine3
                    =", " + event.address.addrLine3
                h4 #{event.address.postCode}, #{event.address.city}
        if user.isAdmin || user.isEventOrganizer
            h5
            h5 Fakturujúca organizácia
            h5 #{event.invoicingOrg.org.name}, #{event.invoicingOrg.adr.city}

    if event.instructions
        div(class="panel panel-primary")
            div(class='panel-heading') Doplňujúce inštrukcie
            div(class='panel-body')
                p #{event.instructions}

    div(class="panel panel-primary")
        div(class='panel-heading') Prihlásené tímy
        div(class='panel-body')
            div(id="allTeams")

        div(class='panel-footer')
            if user.isAdmin || user.isEventOrganizer
            div
                button(id='removeEvent' type='button' class='btn btn-default') Zruš turnaj
    script.
        initEvent();


