extends includes/layout

block content
    include includes/header-sm
    h1 Stretnutie/turnaj
    h2 #{event.name}
    div(class="panel")
        div(class="panel-body")
            h3 Dátum konania
                = " "
                if event.startDate
                    span= fmt.fmtDate(event.startDate, user.locales)
                else
                    span ešte nebol určený
            h4
                if event.address
                    if event.address.addrLine1
                        =", " + event.address.addrLine1
                    if event.address.addrLine2
                        =", "+event.address.addrLine2
                    if event.address.addrLine3
                        =", " + event.address.addrLine3
                    h4 #{event.address.postCode}, #{event.address.city}
            if user && (user.isAdmin || user.isEventOrganizer)
                h5
                h5 Fakturujúca organizácia
                h5 #{event.invoicingOrg.org.name}, #{event.invoicingOrg.adr.city}
        div(class="panel-footer")
            if user && (user.isAdmin || user.isEventOrganizer || user.isProgramManager)
                button(id='addOrganizer' type='button' class='btn btn-default') Pridaj organizátora
                button(id='setDate' type='button' class='btn btn-default') Nastav dátum
                button(id='exportData' type="button" class="btn btn-default") Export dát

    div(id='modalDlgs')
        if (user && (user.isAdmin || user.isProgramManager))
            div(id='editTeamNumber' class='modal fade' role='dialog')
                div(class='modal-dialog')
                    div(class='modal-content')
                        div(class='modal-header')
                            button(type='button', class='close' data-dismiss='modal') &times;
                            h4 Číslo tímu
                        div(class='modal-body')
                            input(type="hidden" value="" id="teamEventId")
                            div(class='form-group has-feedback')
                                label Číslo tímu
                                input(id='teamNumber' type='text', placeholder='číslo tímu' name='teamNumber' class="form-control")
                                span(class="glyphicon form-control-feedback")
                        div(class='modal-footer')
                            div(class='row')
                                div(class='col-sm-12')
                                    span(id="teamNumberStatus" class="text-warning")
                            div(class='row')
                                div(class='col-sm-12')
                                    button(id='btnSaveTeamNumber' type='button' class='btn btn-default' data-dismiss='modal') Uložiť

    if event.instructions
        div(class="panel panel-primary")
            div(class='panel-heading') Doplňujúce inštrukcie
            div(class='panel-body')
                p #{event.instructions}

    div(class="panel panel-primary")
        div(class='panel-heading') Organizátori
        div(class='panel-body')
            div(id='eorgsList' class='container-fluid')

    div(class="panel panel-primary")
        div(class='panel-heading') Prihlásené tímy
        div(class='panel-body')
            div(id="allTeams")

    script.
        var u = '{ "locales": "#{user.locales}" ,'
            + '"username": "#{user.username}", '
            + '"permissions": { '
            + '   "isAdmin": #{user.isAdmin ? true : false}, '
            + '   "isEventOrganizer": #{user.isEventOrganizer ? true : false}, '
            + '   "isProgramManager": #{user.isProgramManager ? true : false}, '
            + '   "isInvoicingOrgManager":#{user.isInvoicingOrgManager ? true : false}'
            + '}}';
        viewEvent.init("#{event._id}",u);


