extends includes/layout

block content
    include includes/header-sm
    h1 Stretnutie/turnaj
    h2 #{event.name}
    div(class="panel")
        div(class="panel-body")
            h3 Dátum/čas začiatku
                = " "
                if event.startDate
                    span= fmt.fmtDate(event.startDate, user.locales)
                else
                    span ešte nebol určený
            h4
                if event.address
                    if event.address.addrLine1
                        =", " + event.address.addrLine1
                    if event.address.addrLine2
                        =", "+event.address.addrLine2
                    if event.address.addrLine3
                        =", " + event.address.addrLine3
                    h4 #{event.address.postCode}, #{event.address.city}
            if user && (user.isAdmin || user.isEventOrganizer)
                h5
                h5 Fakturujúca organizácia
                h5 #{event.invoicingOrg.org.name}, #{event.invoicingOrg.adr.city}
        div(class="panel-footer")
            if user && (user.isAdmin || user.isEventOrganizer)
                button(id='removeEvent' type='button' class='btn btn-default') Zruš turnaj

    if event.instructions
        div(class="panel panel-primary")
            div(class='panel-heading') Doplňujúce inštrukcie
            div(class='panel-body')
                p #{event.instructions}

    div(class="panel panel-primary")
        div(class='panel-heading') Prihlásené tímy
        div(class='panel-body')
            div(id="allTeams")

    script.
        initEvent();


