extends includes/layout

block content
    style.
        .card {
            margin-left: 5pt;
            margin-bottom: 5pt;
            max-width: 200pt;
            float: left;
        }
    include includes/header-sm
    h1 Program

    div(class="panel panel-primary")
        div(class='panel-heading') Detaily
        div(class='panel-body')
            div(class='form-group')
                label(for='progName') Názov
                input(id='progName' class='form-control' value=program.name readonly)
            div(class='form-group')
                label  Začiatok Programu
                a(id='startDate' data-name='startDate' data-type='combodate' data-viewformat=fmt.fmtDateFormat(user.locales).toUpperCase() data-pk=program._id data-url='/program/' + program._id + '/fields' class='editable form-control' href='#')
                    = program.startDate?fmt.fmtDate(program.startDate, user.locales):"nezadaný"
            div(class='form-group')
                label Koniec Programu
                a(id='endDate' data-name='endDate' data-type='combodate' data-viewformat=fmt.fmtDateFormat(user.locales).toUpperCase() data-pk=program._id data-url='/program/' + program._id + '/fields' class='editable form-control' href='#')
                    = program.endDate?fmt.fmtDate(program.endDate, user.locales):"nezadaný"

            if user && (user.isAdmin || user.isProgramManager)
                div(class='form-group')
                    label Správa po registrácii
                    textarea(id='message' rows=5 data-name='message' data-type='textarea' data-pk=program._id data-url='/program/' + program._id + '/fields' class='editable form-control' href='#')
                        = program.message

        if user && (user.isAdmin || user.isProgramManager)
            div(class='panel-footer')
                    button(id='exportData' type="button" class="btn btn-default") Export dát
                    button(id='addManager' type="button" class="btn btn-default") Pridať manažéra

    if (user.username)
        div(class="panel panel-primary")
            div(class='panel-heading') Manažéri programu
            div(class='panel-body')
                div(id='pmsList' class='container-fluid')

    div(class="panel panel-primary")
        div(class='panel-heading') Stretnutia/Turnaje
        div(class='panel-body')
            div(id='eventList' class='container-fluid')
        div(class='panel-footer')
            button(id='addEventBtn' type='button' class='btn btn-default') Pridaj

    div(class="panel panel-primary")
        div(class='panel-heading') Zapojené tímy
        div(class='panel-body')
            div(id='teamList' class='container-fluid' style="max-height: 400pt; overflow: auto;")


    div(id="modalDlgs")

    script.
        var u = '{ "locales": "#{user.locales}" ,'
            + '"username": "#{user.username?user.username:""}", '
            + '"permissions": { '
            + '   "isAdmin": #{user.isAdmin}, '
            + '   "isProgramManager": #{user.isProgramManager} '
            + '}}';
        viewProgram.init("#{program._id}",u);