extends includes/layout

block content
    style.
        .card {
            margin-left: 5pt;
            margin-bottom: 5pt;
            max-width: 200pt;
            float: left;
        }
        .coach {
            padding: 3pt;
        }

    include includes/header-sm
    h1 Profil tímu

    div(class="panel panel-primary")
        div(class='panel-heading') Detaily
        div(class='panel-body')
            if team.recordStatus !== 'active'
                div(class="alert alert-warning")
                    strong Pozor!
                    =" Tento záznam už nie je aktívny a je udržiavaný iba pre archívne účely."
            div(class='form-group')
                a(id='teamName' data-name='name' data-title='Názov' data-type='text' data-pk=team._id data-url='/team/'+team._id+'/fields' class='form-control' href='#')
                    = team.name

            if (user && user.username)
                div(class='form-group' id="eventReg")


                    div(id="activeEvents")
                        if team.events && team.events.length > 0
                            label(class="label-control") Aktívne registrácie
                            for e in team.events
                                if (e.eventDate >= new Date() || !e.eventDate)
                                    a(class="list-group-item" href="/event/" + e._id) (#{e.eventDate?fmt.fmtDate(e.eventDate,user.locales):"neurčený dátum"})  #{e.name}
                            br

                    div(class='btn-group')
                        if user && (user.permissions.isAdmin || user.permissions.isCoach) && team.recordStatus == 'active'
                            button(class="btn btn-success" id="btnRegister2") Registruj na turnaj
                        button(class="btn btn-default" type="button" data-parent='#panel-events' data-toggle="collapse" data-target="#allEvents") Predchádzajúce registrácie

                    div(class="collapse" id="allEvents" style="max-height: 400pt; overflow: auto;")
                        if team.events && team.events.length > 0
                            label(class="label-control") Predchádzajúce registrácie
                            for e in team.events
                                if (e.eventDate < new Date())
                                    a(class="list-group-item" href="/event/" + e._id) (#{e.eventDate?fmt.fmtDate(e.eventDate,user.locales):"neurčený dátum"})  #{e.name}

                div(class='form-group' id='panel-invoices')
                    div(id="unpaidInvoices")
                        ul(class='list-group' id="invoices-unpaid")
                    div(class='btn-group')
                        button(class="btn btn-default" type="button" data-parent='#panel-invoices' data-toggle="collapse" data-target="#allInvoices") Zobraz všetky faktúry
                    div(class="collapse" id="allInvoices")
                        ul(class='list-group' id="invoices")

        div(class='panel-footer')
            div(class='form-group')
                if user && (user.permissions.isAdmin || user.permissions.isCoach) && team.recordStatus == 'active'
                    div(class='btn-group')
                        button(id="btnFounderDetails" class="btn btn-default") Zriaďovateľ
                        button(id="btnBillingDetails" class="btn btn-default") Fakturačné údaje
                        button(id="btnShippingDetails" class="btn btn-default") Korešpondenčné údaje
                    div(class='btn-group pull-right')
                        button(id="btnRemoveTeam" class="btn btn-default") Zruš tím

    div(id='registerEvent' class='modal fade' role='dialog')
        div(class='modal-dialog')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close' data-dismiss='modal') &times;
                    h4 Registrácia
                div(class='modal-body')
                    div(class='form-group')
                        label Dostupné programy
                        select(id='availProgs' class="form-control")
                            option -none-
                    div(class='form-group')
                        label Dostupné súťaže
                        select(id='availEvents' class="form-control")
                            option -none-
                div(class='modal-footer')
                    div(class='row')
                        div(class='col-sm-12')
                            span(id="registerStatus" class="text-warning")
                    button(id='btnRegister' type='button' class='btn btn-default') Potvrdiť registráciu

    div(class="panel panel-primary")
        div(class='panel-heading') Tréneri
            =" "
            span(id="coachCount")
        div(id='coachList' class='panel-body container-fluid')
            div(class='panel col-sm-6')
                p Žiadny
        if user && (user.permissions.isAdmin || user.permissions.isCoach) && team.recordStatus == 'active'
            div(class='panel-footer')
                button(id='btnAddCoach' type="button" class="btn btn-default")
                    span(class="glyphicon glyphicon-user") +
                    | Pridať trénera

    //div(class="panel panel-primary")
        div(class='panel-heading') Členovia tímu
            =" "
            span(id="memberCount")
        div(class='panel-body')
            div(id='memberList' class='container-fluid')
                div(class='panel')
                    p Žiadny
        if user && (user.permissions.isAdmin || user.permissions.isCoach) && team.recordStatus == 'active'
            div(class='panel-footer')
                button(id='createMember' type="button" class="btn btn-default")
                    span(class="glyphicon glyphicon-user") +
                    | Pridať člena


    div(id="modalDlgs")

    script.
        var u = '{ "locales": "#{user.locales?user.locales:fmt.defaultLocales}" ,'
                + '"dateFormat": "#{user.locales?fmt.fmtDateFormat(user.locales):fmt.fmtDateFormat()}", '
                + '"username": "#{user?user.username:"not-logged-in"}", '
                + '"permissions": { '
                + '   "isAdmin": #{user?(user.permissions.isAdmin ? true : false):false}, '
                + '   "isCoach": #{user?(user.permissions.isCoach ? true : false):false} '
                + '}}';
        window.onload = function(){viewTeam.init("#{team._id}", u)};