extends ../includes/layout

block content
    style.
        .adr {
            vertical-align: top;
            padding: 10pt;
            margin-top: 15pt;
            margin-bottom: 15pt;
            width: 150pt;
        }
        .itm {
            vertical-align: top;
            padding: 5pt;
            margin-top: 3pt;
            margin-bottom: 3pt;
        }
        .lbl {
            width: 50pt;
            float: left;
            font-weight:bold;
        }
        .lbl2 {
            font-weight:bold;
        }

        th {
            text-align: center;
        }
        .onerow::after {
            content: "";
            clear: both;
            display: table;
        }
        .bold {
            font-weight:bold;
        }

    div(style="max-width:810px")

        div(style="width:150px; height:150px; clear:left; float:left;")
            if inv.logo
                img(src=inv.logo alt="Logo" width="150px" height="150px")
        div(style="width:300px; height:150px; padding-left:5pt; float:left;")
            h4 #{inv.issuingOrg.name}
                br
                small= inv.issuingAdr.addrLine1 + (inv.issuingAdr.addrLine2?', '+inv.issuingAdr.addrLine2:'') + (inv.issuingAdr.addrLine3?', '+inv.issuingAdr.addrLine3:'')
                br
                small #{inv.issuingAdr.postCode} #{inv.issuingAdr.city}
                br
                small
                    if inv.issuingOrg.companyNo
                        span(class="lbl2") IČO:
                        =" "
                        span #{inv.issuingOrg.companyNo}
                    if inv.issuingOrg.taxNo
                        span(class="lbl2") , DIČ:
                        =" "
                        span #{inv.issuingOrg.taxNo}
                    if inv.issuingOrg.VATNo
                        br
                        span(class="lbl2") IČ DPH:
                        =" "
                        span #{inv.issuingOrg.VATNo}

        div(style="width:350px; height:150px; text-align:right; float:left")
            h3= inv.isDraft?"Návrh ":" "
                =inv.type=="I"?"Faktúra":(inv.type=="C"?"Dobropis":"Zálohová faktúra")
                br
                ="č. "+inv.number
            p Dátum vystavenia:
                =" " + (isDraft?"NÁVRH":fmt.fmtDate(inv.issuedOn, user.locales))
                br
                span Dátum dodania:
                    =" " + (isDraft?"NÁVRH":fmt.fmtDate(inv.issuedOn, user.locales))
                br
                span(class="bold") Dátum splatnosti:
                    =" " + (isDraft?"NÁVRH":fmt.fmtDate(inv.dueOn, user.locales))

        p(style="clear:both")=" "

        table
            tr
                td(style="border: thin solid black;width:300pt;padding:5pt")

                    h5 Odberateľ
                    h4 #{inv.billOrg.name}
                    p #{inv.billAdr.addrLine1}
                        if inv.billAdr.addrLine2
                            =", "+inv.billAdr.addrLine2
                        if inv.billAdr.addrLine3
                            =", "+inv.billAdr.addrLine3
                        br
                        span #{inv.billAdr.postCode} #{inv.billAdr.city}

                    if inv.billOrg.companyNo
                        p
                            span(class="lbl2") IČO:
                            =" "
                            span #{inv.billOrg.companyNo}
                            if inv.billOrg.taxNo
                                span(class="lbl2") , DIČ:
                                =" "
                                span #{inv.billOrg.taxNo}
                    if inv.billOrg.VATNo
                        p
                            span(class="lbl2") IČ DPH:
                            =" "
                            span #{inv.billOrg.VATNo}
                    if inv.billOrg.bankAccount
                        p
                            span(class="lbl2") IBAN:
                            =" "
                            span #{inv.billOrg.bankAccount}
                    if inv.billOrg.bankSWIFT
                        p
                            span(class="lbl2") SWIFT:
                            =" "
                            span #{inv.billOrg.bankSWIFT}

        if inv.team
            p(style="margin-top:10pt") Fakturujeme vám za tím '#{inv.team.name}':

        table(style="border-top:2pt;border-bottom:2pt")
            tr
                th(class="itm" style="width:20pt")
                    ="#"
                th(class="itm" style="width:380pt;text-align:left")
                    ="Položka"
                th(class="itm" style="width:70pt;text-align:right")
                    ="J.Cena"
                th(class="itm" style="width:50pt")
                    ="Množstvo"
                th(class="itm" style="width:80pt;text-align:right")
                    ="Cena"
            each itm in inv.items
                tr
                    td(class="itm" style="text-align:center")
                        p #{itm.itemNo}
                    td(class="itm")
                        p #{itm.text}
                            if itm.note
                                br
                                small #{itm.note}
                    td(class="itm" style="text-align:right")
                        if itm.unitPrice
                            p
                                =itm.unitPrice.toFixed(2) + " " + inv.currency
                    td(class="itm" style="text-align:center")
                        if itm.qty
                            p #{itm.qty} #{itm.unit}
                    td(class="itm" style="text-align:right")
                        if itm.total
                            p
                                =itm.total.toFixed(2) + " " + inv.currency
            tr
                td(class="itm")
                td(class="itm")
                    h4 Celkom
                td(class="itm")
                td(class="itm")
                td(class="itm" colspan="2")
                    h4(style="text-align:right")
                        =inv.total.toFixed(2) +" " + inv.currency

        if (inv.type != "T")
            if inv.paidOn && inv.type !== "C"
                div(style="clear: left; float: left; border: thin solid black; padding:5pt")
                    h5 Nič netreba platiť. Úhrada bola prijatá dňa
                        =" " + fmt.fmtDate(inv.paidOn, user.locales)

            if !inv.paidOn && inv.type !== "C"
                div(style="float:left; border: thin solid black;padding:5pt;")
                    div(style="padding:5pt; clear: left; float:left;")
                        h4 Uhradiť do:
                        h5=" " + fmt.fmtDate(inv.dueOn, user.locales)
                    div(style="padding:5pt; float:left;")
                        h4 IBAN:
                        h5=" " + inv.issuingOrg.bankAccount
                    div(style="padding:5pt; float:left;")
                        h4 SWIFT:
                        h5=" " + inv.issuingOrg.bankSWIFT
                    div(style="padding:5pt; float:left;")
                        h4 VS:
                        h5=" " + inv.number

        if inv.type == "P"
            p(style="clear:both")=" "
            p(style="margin-top:10pt; clear:both;") Ak si želáte zmeniť vaše fakturačné údaje na dokumente, tak ich môžete zmeniť na stránke tímu.
                br
                span Ak potrebujete finálnu faktúru, tak po skontrolovaní fakturačných údajov kliknite na stránke tímu na tlačidlo "Vytvor faktúru"
                br
                span V prípade, že uhradíte túto zálohovú faktúru, bude vám finálna faktúra vystavená automaticky.
                br
                span Stránku tímu môžete otvoriť aj klinknutím na tento link
                    =" "
                    a(href=(siteUrl||'')+"/team/"+inv.team._id) Otvoriť stránku tímu
        p(style="clear:both")=" "
        if inv.footer
            p(style="margin-top:10pt; clear:both; font-size:80%;")=inv.footer
